@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --main-bg-color: #111429;
    --shadow: 0em 1em 1em 0em #0e101e;
    --shadow-2: 0em 1em 1em 0em #07091b;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border: 0px solid #000;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html, body, main {
    min-width: 100%;
    min-height: 100%;
}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.perfil {
    max-width: 100%;
}

.perfil__info {
    max-width: 100%;
    height: 100%;
    color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.info__apresentacao {
    height: 100%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.info__foto {
    flex-grow: 1;
    box-shadow: var(--shadow-2);
    border-radius: 100%;
    width: 15em;
    height: auto;
}

.apresentacao__areatexto {
    padding: 1em;
    flex-grow: 3;
}

.areatexto__frase {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.areatexto__frase--titulo {
    font-weight: 600;
    font-size: 3em;
}

.contatos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #111429;
    border-radius: 6px;
    border: 1px solid #fff;
    align-self: flex-end;
    margin-right: 2em;
}

.contatos__social {
    padding: 0.3em;
    text-decoration: none;
}

/* .social__icone {} */

.social__descricao {
    font-family: system-ui;
    cursor: pointer;
    text-decoration: underline;
}

.social__descricao:hover {
    text-decoration: none;

}

.perfil__frase {
    font-size: 1em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;

}

.page {
    background-color: var(--main-bg-color);
    padding: 3em;
    box-shadow: var(--shadow);
    margin-bottom: 2em;
}

.titulo {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
}

.formacao__item {
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 5em 1em 7em 4em;
    display: flex;
    position: relative;
}

.formacao__item:nth-child(2) {
    margin-top: 2em;
}

.formacao__item:nth-child(4) {
    margin-bottom: 1em;
}

.formacao__info {
    width: 100%;
    padding: 3em 0em 2em 0em;
}

.formacao__titulo {
    position: absolute;
    left: 3em;
    top: -0.8em;
    padding: 0em 1em 0em 1em;
    background: var(--main-bg-color);
}

.formacao__dataarea {
    padding: 1em;
    height: 100%;
    min-height: 10em;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.instituicao {
    grid-column: 2 / 4;
}

.data {
    list-style: none;
    font-size: large;
}

.key {
    font-weight: 800;
}

a.value:hover {
    text-decoration: none;
}

.formacao_tagarea {
    position: absolute;
    bottom: -1.5em;
    right: 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.tagarea__item {
    padding: 0.5em;
    border-radius: 100%;
    margin: 0em 1em 0em 1em;
    color: var(--main-bg-color);
    background-color: #fff;
    font-size: 1.5em;
}

.formacao__icone {
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    padding: 1em;
    font-size: 2em;
    border-radius: 100%;
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--main-bg-color);
}

.projeto__area {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.projeto__tagarea {
    position: absolute;
    top: -1.5em;
    right: 0;
}

.projeto__item {
    display: flex;
    flex-direction: column;
    min-height: 20em;
    margin: 2em;
    position: relative;
    box-shadow: var(--shadow);
}

.projeto__img {
    flex-grow: 3;
    background-image: url('../img/cadastro_pessoas.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 10px 0px 0px;
}

.projeto__btn--github {
    background-color: var(--main-bg-color);
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: larger;
    padding: 0.5em;
    border-radius: 0em 6px 0em 1em;
    text-decoration: none;
}

.projeto__descricao {
    position: relative;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow-2);
    flex-grow: 2;
    padding: 2em;
    border-radius: 0px 0px 6px 6px;
}

.projeto__titulo {
    text-align: center;
}

.skills__list {
    counter-reset: li;
    display: grid;
    grid-template-columns: auto auto;
}

.skill {
    list-style: none;
    margin: 2em;
    padding: 1em;
    text-align: justify;
    box-shadow: var(--shadow-2);
}

.skills__list>.skill::before {
    content: '0'counter(li);
    counter-increment: li;
    font-size: 4em;
    font-family: 'Open Sans';
    letter-spacing: 0;
}

.skill__name {
    font-family: system-ui;
    font-weight: 700;
    font-size: 2em;
    display: inline;
}

.skill__text {
    display: block;
}

@media screen and (max-width:1100px) {
    .formacao__dataarea {
        grid-template-columns: auto auto;
    }

    .projeto__area {
        grid-template-columns: auto auto;
    }

    .instituicao {
        grid-column: 2/2;
    }
}

@media screen and (max-width:900px) {
    .perfil__info {
        flex-direction: column;
    }

    .projeto__area {
        grid-template-columns: auto;
    }

    .skills__list {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:810px) {
    .formacao__dataarea {
        padding: 1em;
        display: block;
    }

    .instituicao {
        grid-column: 1;
    }

    .data {
        padding: 1em 0em 0em 0em;
    }

    .formacao__info {
        padding-top: 1em;
    }
}

@media screen and (max-width:700px) {
    .page {
        padding: 0px;
    }

    .perfil__info {
        margin: 0px;
    }

    .info__foto {
        width: 20em;
    }

    .perfil__frase {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 95%;
    }
}

@media screen and (max-width:500px) {
    .info__foto {
        width: 95%;
    }
}