* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --box-shadow: inset 0px 0px 9px 0px #000;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header,
.main,
.projeto {
    width: 100%;
    min-height: 100vh;
}

.header {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../img/working-on-code-slin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(5);
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.frase-perfil {
    background-color: #fff;
    color: #353535;
    padding: 3em;
    text-align: center;
    margin: 0em 0em 5em 0em;
    box-shadow: var(--box-shadow);
}

.nome-perfil,
.profissao-perfil {
    margin-top: .5em;
    color: #fff;
}

.nome-perfil {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.profissao-perfil {
    font-size: 1em;
    font-family: sans-serif;
}

.contatos-perfil {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.link-contato-perfil {
    width: 3.5em;
    height: 3.5em;
    margin: 0 0.5em 0 0.5em;
    border-radius: 6px;
}

.contato-perfil {
    transition: transform .25s;
    width: 50%;
    height: auto;
    margin: 0.875em;
}

.link-contato-perfil:hover .contato-perfil{
    transform: scale(1.20);
}

.--contato-github {
    background-color: #171515;
}

.--contato-facebook {
    background-color: #3b5998;
}

.--contato-linkedin {
    background-color: #0e76a8;
}

.--contato-email {
    background-color: #c71610;
}

.--contato-whatsapp {
    background-color: #12b34d;
}

.foto-perfil {
    border-radius: 100%;
    width: 15em;
    height: auto;
}


.projeto {
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow);
}

.celular-projeto {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-celular {
    max-height: 75vh;
    --celular-width: 19em;
    --celular-height: calc(var(--celular-width) * 2.5);
    position: relative;
    width: var(--celular-width);
    height: var(--celular-height);
}

.imagem-celular {
    transition: object-position 5s;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90%;
    height: 94%;

    border-radius: 5px;

    object-fit: cover;
    object-position: center top;

    position: absolute;
}

.display-celular:hover .imagem-celular {
    object-position: center bottom;
}

.celular-01,
.celular-02 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/Celular.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.projeto-titulo {
    font-size: xx-large;

}

.conteudo-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 73%;
    /* box-shadow: var(--box-shadow); */
}

.descricao-projeto {
    padding: 2em;
}

.button-box {
    width: 15em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ver-pagina-btn,
.git-btn {
    transition: background-color 0.5s;
    padding: 0.5em;
    color: #fff;
    width: 45%;
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.ver-pagina-btn {
    background-color: #0C17B2;
}

.ver-pagina-btn:hover {
    background-color: #0b1388;
}

.git-btn {
    background-color: #242424;
}

.git-btn:hover {
    background-color: #111111;
}

footer {
    min-height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #353535;
    box-shadow: var(--box-shadow);
}

.--row {
    flex-direction: row;
}

.--row-reverse {
    flex-direction: row-reverse;
}

.--bg-grey {
    background-color: #353535;
}

.--bg-blue {
    background-color: #2F50F5;
}

@media screen and (max-width: 800px) {
    .projeto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo-projeto {
        width: 97%;
    }

    .projeto-titulo {
        margin-top: 1em;
    }

    .descricao-projeto {
        margin: 1em 0em 1em 0em;
        padding: 0;
    }

    .celular-projeto {
        display: none;
    }

    footer {
        flex-direction: column;
    }
}